* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body	{
	background-color: black;
}


.btn > a {
	text-decoration: none;
	color: white;
}

#port-jumbo	{
	/*border: 8px solid #c0c0c0;*/
	padding: 8em 4em;
	/*border-radius: 10px;*/
	width: 60%;
}

#jumbo-div {
	height: 100vh; /*span the height of the screen of the user*/
	/*width: 100vw;*/  /*set the screen to max view port width*/
	padding-top: 10%;
	background-color: #333;
	border-radius: 0;
	/*margin-bottom: 0;*/  /*used mb-0*/
	background-image: url(../images/bg2.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

}

.jumbotron h1 {
	color: #f2f2f2; /*off white*/
	font-family: 'Open Sans Condensed', sans-serif;
}

p {
	color: #f2f2f2;
}

#portfolio {
	/*height: 100vh;*/
	width: 100%;
	/*background-color: #333;*/
	background-image: url(../images/bg3.jpeg);
	background-repeat: no-repeat;
	background-size: cover;

}

#portfolio h3,
#portfolio p, 
#portfolio btn {
	color: #c0c0c0;
}

#portfolio a {
	text-decoration: none;
}

#portfolio img {
	width: 400px;
	height: 250px;
}

#about-me {
	/*background-color: #333;*/
	background-image: url(../images/b4.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

#about-me h3 {
	color: #c0c0c0;
}
#about-me p {
	font-size: 30px;
}

#about-me img {
	border-radius: 50px;
}

.card {
	background-color: #333;
}

/*small screen*/
@media only screen and (max-width:400px) {
	#jumbo-div {
		height: 100%;
	}

	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;	
	}

	.jumbotron h1 {
		font-size: 30px;
	}

	#about-me h3 {
		font-size: 20px;
	}
	#about-me p {
		font size: 10px;
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	#port-jumbo {
		width: 100%;
		margin-top: 10vh;
		padding-top: 5em;
		padding-bottom: 5em;	
	}

	.jumbotron h1 {
		font-size: 50px;
	}

	#about-me h3 {
		font-size: 50px;
	}

	#about-me p {
		font size: 30px;
	}

}

/*desktop style*/
@media only screen and (min-width: 961px) {
	

}